<?xml version="1.0" encoding="UTF-8"?>
	<!--
		This file is part of Klistret. Klistret is free software: you can
		redistribute it and/or modify it under the terms of the GNU General
		Public License as published by the Free Software Foundation, either
		version 3 of the License, or (at your option) any later version.

		Klistret is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with Klistret. If not,
		see <http://www.gnu.org/licenses/>
	-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC connections (handeled by Spring) -->
		<!-- Datasource connections (handeled by Spring) -->
		<!-- SQL dialect *edit installation parameter -->
		<property name="dialect">org.hibernate.dialect.DB2Dialect</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Transaction/Session objects (active in J2EE container) *edit installation parameter -->
		<!--
		<property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
		<property name="transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
		-->
		<!-- Actions related to transaction/session (active in J2EE container) *edit installation parameter -->
		<!--
		<property name="hibernate.transaction.flush_before_completion">true</property>
		<property name="hibernate.transaction.auto_close_session">true</property>
		<property name="hibernate.current_session_context_class">jta</property>
		<property name="hibernate.connection.release_mode">auto</property>
		-->
		<!-- Secondary cache -->
		<!--
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		-->
		<!-- Mapping files -->
		<mapping resource="com/klistret/cmdb/pojo/Element.hbm.xml"/>
		<mapping resource="com/klistret/cmdb/pojo/ElementType.hbm.xml"/>
		<mapping resource="com/klistret/cmdb/pojo/Relation.hbm.xml"/>
		<mapping resource="com/klistret/cmdb/pojo/RelationType.hbm.xml"/>
	</session-factory>
</hibernate-configuration>