.addButton {
	background-image: url(../images/addButton.gif) !important;
}

.deleteButton {
	background-image: url(../images/deleteButton.gif) !important;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

.version-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.version-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.version-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}